body{
  background-color: #c4dff6;
}


.jumbotron{
/* background-image: linear-gradient(to right, rgb(212, 223, 236),
#50BAC8); */
background-color:#3B8BEB;
padding: 10px;
margin-bottom: 5px;;
color:white
}

nav{
background-color: #b23850;

}


.forFont{
  font-family: sans-serif;
}
.card{
  background-color: #c4dbf6;
}
.carImage img {
    width: auto;
    height: auto;
    max-height:600px;
  }

  .cardList li{
    border-bottom:0;
  }

  #endofPage{
    margin-top:10px;
  }