.jumbotron{
background-image: linear-gradient(to right, rgb(212, 223, 236),
#50BAC8);
/* background-color: cadetblue; */
padding: 10px;
margin-bottom: 0px;;
color:white
}
.forFont{
  font-family: sans-serif;
}
.carImage img {
    width: auto;
    height: auto;
    max-height:600px;
  }

  .cardList li{
    border-bottom:0;
  }

  #endofPage{
    margin-top:10px;
  }